
html{
  text-rendering: optimizeLegibility;
  line-height: 1.3em;
  color: black;
  background: grey;
  font-family: 'Archivo Black', sans-serif;
}

/* mobiles */
body{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(50px, 50px);
  margin: 0 auto;
  grid-template-areas:
  "header header header header header header"
  "nav nav nav nav nav nav"
  "footer footer footer footer footer footer"
  "aside aside aside aside aside aside"
  "main main main main main main"
  "section section section section section section";
}

/* desktops/tablets  */
@media screen and (min-width:760px){
  body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(70px, 50px);
    margin: 0 auto;
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "aside aside aside aside aside aside"
    "main main main main main main"
    "nav nav nav nav nav nav"
    "section section section section section section"
    "footer footer footer footer footer footer";
  }
}

header{
  grid-area: header;
  background: #fff;
  z-index:3;
}


.logo {
 display: block;
 float:left;
 padding:11px 15%;
 text-decoration: none;
}

nav{
grid-area: nav;
grid-row: 1;
justify-self: end;
z-index:3;

}

.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.nav li a{
display:block;
padding: 20px 20px;
border-right: 1px solid #f4f4f4;
text-decoration: none;
}


nav a:hover,
nav .menubtn:hover {
    color: #3bbced;
}

main{
  grid-area: main;
  background: #3bbced;
}

aside{
  grid-area: aside;
  background: #3bbced;
}

section{
  grid-area: section;
  background: #3bbced;
}


footer{
  grid-area: footer;
  background: #3bbced;
}
